<div class="sidebar">
    <div class="chart titled-box quick-links">
        <h2>Quick links</h2>
        <div class="content">
          <ol class="list">
            <li class="link"><a href="https://docs.orchard.ox.ac.uk/Support">Support contacts</a></li>
            <li class="link"><a href="https://register.it.ox.ac.uk/self/index/" target="_blank">Manage University accounts &#10697;</a></li>
          </ol>
        </div>
    </div>
    <div class="chart titled-box quick-links">
        <h2>${CategoriesLabel}</h2>
        <div class="content">
            <ol class="list">
                ${category_list}
            </ol>
        </div>
    </div>
    <div class="chart titled-box quick-links">
        <h2>Documentation</h2>
        <div class="content">
          <ol class="list">
            <li class="link"><a href="https://docs.orchard.ox.ac.uk/GettingStarted">Getting started with your Mac</a></li>
            <li class="link"><a href="https://docs.orchard.ox.ac.uk/Email%20Client%20Setup">Email client setup</a></li>
            <li class="link"><a href="http://www.it.ox.ac.uk/rules" target="_blank">IT rules &#10697;</a></li>
        </div>
    </div>
    <div class="chart">
      <span style="color: #aaa;">&#10697; opens in the default browser</span>
    </div>
</div>
